.idea
Model/BackupElements/__pycache__/
Model/__pycache__/
Utilities/__pycache__/
View/ConsoleView/__pycache__/
Controller/BackupConsoleController/__pycache__/
Controller/BackupConsoleController/MessageProcessors/__pycache__/